:root {
	--primary-color: #9f0a0a;
	--sub-1-color: #970029;
	--sub-2-color: #86003f;
	--sub-3-color: #6d0d4d;
	--sub-4-color: #511d53;
	--sub-5-color: #352350;
	--sub-6-color: #1c2345;
	--sub-7-color: #0e2035;
	--sub-8-color: #0d1a24;
	--secondary-color: #111314
}


html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: var(--primary-color);
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: "sofia-pro", sans-serif;
	background: var(--secondary-color);
}

a {
	color: var(--secondary-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
